





























































/*
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}*/

/*Global*/
.container1{
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/*HEADER*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px;

}

tr{
    font-size: 20px;
}
.cart-page{
    margin: 100px  auto;
 
}
table{
    margin-left: 187px;
    width: 80.3%;
    border-collapse: collapse;
}
.move{
 margin-right: 200px;
}
.crt-info{
    /*margin-left: 500px;*/
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: red;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 60px;
    height: 30px;
    padding: 5px; 
}
td a{
    color: #e8491d;
    font-size: 15px;
    
}

td img{
  width: 170px;
  height: 170px;
  margin-right: 10px;
  
}
.total-price{
    display: flex;
    justify-content: flex-end;
    margin-right: 175px;
    
}
.total-price table{
    border-top: 3px solid #e8491d;
    width: 100%;
    max-width: 750px;
    
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}


/*Footer*/
#Foot{

    /*margin-top: -30px;*/
    background-color: #35424a;
    padding-top: 30px;
    min-height: 70px;
    border-top:  #e8491d 3px solid;

}

#Foot .footer{
    color: #e8491d;
    font-family: serif;
}

#Foot .Footer{
    color: #ffffff;

}

#Foot .highlight{
    color: #e8491d;
}