body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.container1{
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-size: 30px;
}

/*HEADER*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;

}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding:  0 20px 0 20px;
    margin-top: 20px;
    font-family: sans-serif;


}

header #cart{
    float: right;
    display: inline;
    padding-right: 30px;
    /*margin-top: 3px;*/
    margin-bottom: -10px;

}

header #cart img{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 15px;
}


header .current a{
    font-weight: bold;
    color: #e8491d;
}

header .highlight{
    font-weight: bold;
    color: #e8491d;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#Headerprod{
    margin-left: 115px;
    text-align: center;
    margin-right: 140px;
    margin-top: 100px;
    font-family: serif;
    font-size: xx-large;
    color: #35424a;
    padding-bottom: -110px;
}



/*-------------DropDown---------------------*/

.dropbtn {
    background-color: #35424a;
    color: white;
    padding: 16px;
    font-size: 19px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: -10px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #35424a;
}




/*--------------contact us----------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

/*.contact-us{
    width:80%;
    margin: auto;
}*/

.contact-col{
    flex-basis:48%;
    margin-bottom: 80px;
    margin-top: -365px;

}

.contact-coll div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.contact-coll div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 193px;


}

.contact-coll div p{
    padding:0;
}


.contact-coll{
    margin-top: 110px;
}
.contact-coll h5{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 400;
    color: #555;
}

.contact-col input, .contact-col textarea{
    width: 57%;
    padding: 15px;
    margin-top: -5px;
    margin-bottom: 30px;
    margin-left: 630px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.boton button{
    display: block; 
    height: 40px;
    width: 400px;
    background-color: #35424a;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    right: 0;
    place-items: center;
    font-family: "Poppins" ,sans-serif;
    color: #f4f4f4;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: -65px;
    margin-left: 800px;
}

#Foot{

    /*margin-top: -30px;*/
    background-color: #35424a;
    padding-top: 30px;
    min-height: 70px;
    border-top:  #e8491d 3px solid;

}

#Foot .footer{
    color: #e8491d;
    font-family: serif;
}

#Foot .Footer{
    color: #ffffff;

}

#Foot .highlight{
    color: #e8491d;
}

